%table.table
  %thead
    %tr
      %th Ingredients
      %th Rarity
      %th{colspan: 3} Pokemon
  %tbody
    -for recipie in @recipies
      %tr
        %td
          -if recipie.ingredients.is_a?(Array)
            =recipie.ingredients.join("</br>")
          -else
            =recipie.ingredients
        %td=recipie.rarity
        - r1, r2, r3 = recipie.pokemon.each_slice([(recipie.pokemon.count / 3), 1].max).to_a
        %td=(r1 || []).join("</br>")
        %td=(r2 || []).join("</br>")
        %td=(r3 || []).flatten.join("</br>")
