%table.table
  %thead
    %tr
      -for head in @header
        %th{scope: "col"}=head
  %tbody
    -for recipie in @recipies
      %tr
        -recipie.values.each.with_index do |val, i|
          -if i == 0
            -if val.is_a?(Array)
              %td=val.join("</br>")
            -else
              %td=val
          -else
            %td=val